:root{
--primary-bg: #242526;
--secondary-bg: #fff;
--primary-text-color: #555;
--secondary-text-color: #cecece;
--border-radius: 0.5rem;
--speed: 500ms;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
}
