.listSection h3{
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    cursor: pointer;
    margin: 1rem;
    border-bottom: 1px solid white;
    border-radius: 5%;
}
.listSection .top-buttons{
    display: flex;
}
.listSection .card--hero{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.card--main{
    /* width: 100%; */
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2rem;
    padding: 2rem;
    margin: 1.5rem;
    transition: all 0.15s ease-in-out;
}
.card--main:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.card--hero img{
    width: 200px;
    border-radius: 1rem;
}

.card--hero .content{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}

.info--card {
    font-family: 'Poppins', sans-serif;
}

.info--card .movie--info .movie-title-nav{
    display: flex;
    align-items: center;
}

.movie-title-nav > button{
    margin-left: auto;
}

.info--card .footer-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}