.listSection h1{
    font-family: "Poppins", sans-serif;
}
.listSection .card--hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card--main{
    /* width: 100%; */
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2rem;
    padding: 2rem;
    margin: 1.5rem;
}
.card--hero img{
    width: 200px;
    border-radius: 1rem;
}

.card--hero .content{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}