@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
header {
  /* width: 100%; */
  display: flex;
  height: 3.5rem;
  justify-content: flex-start;
  align-items: center;
  /* position: sticky; */
  /* position: relative; */
  top: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: 0.4s ease-in-out;
  z-index: 500;
}
.navBar {
  width: 100%;
  max-width: 1920px;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  margin: 0 auto;
  border-radius: 2.5rem;
}

.navBar .toggle-btn {
  cursor: pointer;
  display: none;
}
.navBar .title {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: aliceblue; */
  /* padding: 0 4rem 0 0; */
}
.navBar a {
  text-decoration: none;
  color: white;
}

.fonty div {
  padding: 0;
  margin: 0;
  color: #e50914;
  font-size: 1.2rem;
  font-weight: 700;
}
.navBar .form {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  margin-right: 10%;
  /* background-color: #e50914; */
}

.navBar .form img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 1rem;
}

/* .navBar form input[type="search"] {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.14rem;
  width: 30rem;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  color: white;
} */
.navBar .title a {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: white;
}
.navBar nav ul {
  gap: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  /* background-color: antiquewhite; */
}
li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  list-style: none;
}

/* Dropdown */
.dropdown_menu {
  display: none;
  height: 0;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu_active {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 250px;
  height: 20%px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 0.8rem;
  overflow: hidden;
  z-index: 500;
}

.dropdown_menu_active li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .navBar nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
} */
.navBar nav ul .listItem:hover {
  color: #e50914;
  transition: color 0.3s;
}

.navBar nav ul .listItem:hover a {
  color: #e50914;
  transition: color 0.3s;
}
.navItems li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.navBar .listItem {
  padding: 0 1rem;
  cursor: pointer;
}
.navBar .userImage {
  padding: 0 1rem;
}
.navBar nav .userImage:hover {
  transform: scale(1.1);
}

/* Response */

@media (max-width: 992px) {
  .navBar nav ul {
    display: none;
  }
  .navBar .toggle-btn {
    display: block;
  }
}
